body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    top:50%;
    left: 50%;
}

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}


table {
    border-collapse: collapse;

}


tr{
     border: none;

 }


.vide{
    border: none;
}

 .semaine td{
     border: none;
     text-align: center;

 }
.is-active{
    display: block !important;
}

td {
    border: 1px solid grey;
    width: 100px;
    height: 100px;

}

.listeMois, .annee{
    display: inline-flex;
}
.listeMois li{
    display: block;
    margin: 10px;
}
 .annee * {
    font-size: 40px;
    text-decoration: none;
    color: grey;
     margin: 10px;
     font-weight: bold;

}


.listeMois li a{
    text-decoration: none;
    color: grey;
    font-weight: bold;
}



.active{
    color: #f44336 !important;
}

.semaine td{
    font-style: oblique;
    color: deepskyblue;
    font-weight: bold;
    height: 0px !important;
}

.jour {
    font-family: "DejaVu Math TeX Gyre";
    font-size: large;
    font-weight: bold;
}

.event li{
    font-size: 10px;

}

.calendrier , .evenement{
    border: 2px solid green;
    margin: 10px;
    padding: 10px;
}

.contenu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80%;
    width: 100%;
}

.rempli li{
    display: none;
}

.evenement li{
    display: block;
    background-color: beige;
    margin: 5px;
    border-radius: 15px;
    text-align: left;
    padding: 10px;
}
#date_complet{
    color: #f44336;
    font-style: oblique;
    font-weight: bold;
}